/* navigation section styling */
#mainNav {
    position: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
     margin: 0;
    padding: 10px;
    background-color:  #011C2C !important;
    box-shadow: 0 10px 30px -10px;
    z-index: 10;

}

.navHead #logo {
    float: left;
    width: 180px;
    height: 155px;
    object-fit: contain;
    margin: 0;
    mix-blend-mode:lighten;
}
.navHead{
   display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}


.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.nav-item {
    margin: 0px 10px;
}

#mainNav a {
    margin: 0px 5px;
    font-size: 20px;
   font-size: var(--fz-xs);
    color: #16D2A7 !important;

}

#mainNav a:hover,
#mainNava:focus {
    color: rgb(218, 205, 33) !important;
    font-weight: bold;

}

.resume a{
    text-decoration: none;
    border:1px solid gray;
    padding: 5px;
}
